<div style="color:red;font-weight:bold;font-size:17px;">Se imprimiran etiquetas con la siguiente especificación:</div><br />
<div class="well">
    <div style="font-weight:bold;font-size:26px;color:black;">Modelo: <label id="txtModel"></label></div><br />
    <div class="row">
        <div class="form-group">
            <label class="col-sm-3 control-label" style="font-size:24px; font-weight:bold;">FLUX</label>
            <div class="col-sm-9">
                <label class="col-sm-2" id="txtFlxL" style="color:red;font-size:24px; font-weight:bold;text-align:center;"></label>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="col-sm-3 control-label" style="font-size:24px; font-weight:bold;">COLOR</label>
            <div class="col-sm-9">
                <label class="col-sm-2" id="txtCBL" style="color:red;font-size:24px; font-weight:bold;text-align:center;"></label>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="col-sm-3 control-label" style="font-size:24px; font-weight:bold;">VOLTAGE</label>
            <div class="col-sm-9">
                <label class="col-sm-2" id="txtVBL" style="color:red;font-size:24px; font-weight:bold;text-align:center;"></label>
            </div>
        </div>
    </div>
</div>

