
<div style="margin-top:50px;">
    <nav class="navbar navbar-default menuConfig">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catalogos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Flux</a></li>
                            <li><a href="#">Color</a></li>
                            <li><a href="#">Voltage</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Reviews</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Models <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Add Flux</a></li>
                            <li><a href="#">Add Color</a></li>
                            <li><a href="#">Add Voltage</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Add Review</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Add Label</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div id="content"></div>
@section scripts{
<script>
    jQuery(".menu li a").click(function() {
    var mylink = $(this).attr('href');

       jQuery("#content").load(mylink,
            function(response, status, xhr) {
            //alert(response);
        });
    });

}
</script>
}